<main>
    <div>
        <h1>First</h1>
        <h2>Second</h2>
        <h3>3 title</h3>
    </div>
    <hr>
    <div>First</div>
    <div>Second</div>
    <div>3 title</div>
    <hr>
    <div class="display-1">First</div>
    <div class="display-3">Second</div>
    <div class="display-5">3 title</div>
    <hr>
    <span class="text-muted">Додатковий текст</span>
    <div class="display-1 text-muted">First</div>
    <hr>
    <h1>First left</h1>
    <h1 class="text-center">First center</h1>
    <h2 class="text-end">Second right</h2>
    <hr>
    <h1 class="text-center text-uppercase">First "всі букви з великої" </h1>
    <h1 class="text-center text-lowercase">First "всі букви з маленької" </h1>
    <h1 class="text-center text-capitalize">City dark city</h1>
    <hr>
    <div class="display-6 text-upprecase text-center" > Button</div>
    <button class="btn btn-primary"><span class="text-capitalize">Button primary</span></button>
    <button class="btn btn-success"> <span class="text-lowercase"> Green button little</span></button>
    <button class="btn btn-light text-end">   Прозора button </button>
    <button class-"btn btn-link">Button link</button>
    <a href="https://github.com/it-brains-ua/bootstrap/blob/2-1/src/route/index.js" class="btn btn-link">Button link</a>
    <hr>
    <div class="display-5 text-center">Текстовий матеріал</div>
    <p class="text-primary"> Текстовий матеріал</p>
    <p class="text-secondary"> Текстовий матеріал</p>
    <p class="text-success"> Текстовий матеріал зелений</p>
    <p class="text-dark"> Текстовий матеріал темний</p>
    <p class="text-info"> Текстовий info матеріал</p>
    <p class="text-light"> Текстовий прозорий матеріал</p> <span class="text-lowercase"> Текст не видимий, вище проведи мишкою</span>
    <hr>
    <div class="display-5 text-center"> Кнопки з тіньовим контуром </div><br>
    <button class="btn btn-outline-primary">Кнопка яка при наведені змінює контур</button>
    
    <hr>
    <p><button class="btn btn-secondary"> <Додати> головна</button> 
    <button class="btn btn-outline-secondary"> <Редагувати> другорядна</button>
    <button class="btn btn-outline-danger"> <Видалити> опасна</button></p>
    <hr>
    <div class="display-5 text-center">Мала та великa кнопки</div>
    <button class="btn btn-warning btn-lg">Велика кнопка</button>
    <button class="btn btn-success btn-sm">Mала кнопка</button>
    <hr>
    <p class="display-1 text-center">Box</p>
    <div class="card">
        <div class="card-body"> This is content</div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body"> 
    
    <button class="btn btn-warning btn-lg">Велика кнопка</button>
    <button class="btn btn-success btn-sm">Mала кнопка</button>

        </div>
    </div>
</main>