{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<main>
    <header>
        <div class="row">

            <div class="col-6"> <h4 style="color:blue;"> Inna Ivanova</h4> </div>
            <div class="col-6"> <h4 style="color:blue;"> Resume project </h4> </div>                        
        </div>
       
    </header>
    <hr>
    <body>
        <div class="row"> <h3 class="mb-5">Список сторінок</h3>
            <div class="col-4">
                    <div class="mb-2" ><a href="http://localhost:3000/car"  class="btn btn-primary">Car</a></div>
                    <div class="mb-2" ><a href="http://localhost:3000/card"  class="btn btn-primary">Card</a></div>
                    <div class="mb-2" > <a href="http://localhost:3000/bio"  class="btn btn-primary">Bio</a></div> 
                    <div class="mb-2"><a href="http://localhost:3000/skills"  class="btn btn-primary">Skills</a> </div>
                    <div class="mb-2"><a href="http://localhost:3000/summary"  class="btn btn-primary">Summary</a> </div>
                    <div class="mb-2" ><a href="http://localhost:3000/bootstrap"  class="btn btn-primary">Bootstrap</a></div>
                    <div class="mb-2"><a class="btn btn-primary" href="http://localhost:3000/education">Education </a> </div> 
                    <div class="mb-2"><a href="http://localhost:3000/bootstrapnewstyle"  class="btn btn-primary">BootstrapNewStyle</a></div>
                    
            </div>
            <div class="col-4">
                   <div class="mb-2" > <a href="http://localhost:3000/js"  class="btn btn-primary">Js</a></div>
                    <div class="mb-2" ><a href="http://localhost:3000/mac"  class="btn btn-primary">Mac</a></div>
                    <div class="mb-2"><a href="http://localhost:3000/nav"  class="btn btn-primary">Nav</a></div>
                    <div class="mb-2"><a class="btn btn-primary" href="http://localhost:3000/web">Web </a> </div> 
                     <div class="mb-2"><a class="btn btn-primary" href="http://localhost:3000/work">Work </a> </div>
                     
                    <div class="mb-2" ><a href="http://localhost:3000/person"  class="btn btn-primary">Person</a></div>
                    <div class="mb-2" ><a href="http://localhost:3000/program"  class="btn btn-primary">Program</a></div>
                    <div class="mb-2"><a href="http://localhost:3000/facebook"  class="btn btn-primary">Facebook</a> </div>
            </div>
            <div class="col-4">
                    <div class="mb-2"><a href="http://localhost:3000/shopcart"  class="btn btn-primary">Shopcart</a> </div>
                    <div class="mb-2"><a href="http://localhost:3000/shopcatalog"  class="btn btn-primary">Shopcatalog</a> </div>
                    <div class="mb-2" > <a href="http://localhost:3000/shophome"  class="btn btn-primary">Shophome</a></div>
                    <div class="mb-2" ><a href="http://localhost:3000/shopnews"  class="btn btn-primary">Shopnews</a></div>
                    <div class="mb-2"><a href="http://localhost:3000/shoporder"  class="btn btn-primary">Shoporder</a></div>
                    <div class="mb-2" ><a href="http://localhost:3000/shopproduct"  class="btn btn-primary">Shopproduct</a></div>
                    <div class="mb-2" ><a href="http://localhost:3000/shopprofile"  class="btn btn-primary">Shopprofile</a></div>
                    <div class="mb-2"><a class="btn btn-primary" href="http://localhost:3000/shopreview">Shopreview </a> </div> 
            </div>      
        </div>
       
             
    </body>
    <footer>
      
    </footer>
</main>

    



{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}