{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<main>
    <header>
        <div class="row">

            <div class="col-6"> <h4 style="color:blue;"> Inna Ivanova</h4> </div>
            <div class="col-6"> <h4 style="color:blue;"> Resume project </h4> </div>                        
        </div>
       
    </header>
    <hr>
    <body>
        <div class="row"> <h3 class="mb-5">Список сторінок</h3>
            <div class="col-4">
                    <div class="mb-2" ><a href="/car"  class="btn btn-primary">Car</a></div>
                    <div class="mb-2" ><a href="/card"  class="btn btn-primary">Card</a></div>
                    <div class="mb-2" > <a href="/bio"  class="btn btn-primary">Bio</a></div> 
                    <div class="mb-2"><a href="/skills"  class="btn btn-primary">Skills</a> </div>
                    <div class="mb-2"><a href="/summary"  class="btn btn-primary">Summary</a> </div>
                    <div class="mb-2" ><a href="/bootstrap"  class="btn btn-primary">Bootstrap</a></div>
                    <div class="mb-2"><a class="btn btn-primary" href="/education">Education </a> </div> 
                    <div class="mb-2"><a href="/bootstrapnewstyle"  class="btn btn-primary">BootstrapNewStyle</a></div>
                    
            </div>
            <div class="col-4">
                   <div class="mb-2" > <a href="/js"  class="btn btn-primary">Js</a></div>
                    <div class="mb-2" ><a href="/mac"  class="btn btn-primary">Mac</a></div>
                    <div class="mb-2"><a href="/nav"  class="btn btn-primary">Nav</a></div>
                    <div class="mb-2"><a class="btn btn-primary" href="/web">Web </a> </div> 
                     <div class="mb-2"><a class="btn btn-primary" href="/work">Work </a> </div>
                     
                    <div class="mb-2" ><a href="/person"  class="btn btn-primary">Person</a></div>
                    <div class="mb-2" ><a href="/program"  class="btn btn-primary">Program</a></div>
                    <div class="mb-2"><a href="/facebook"  class="btn btn-primary">Facebook</a> </div>
            </div>
            <div class="col-4">
                    <div class="mb-2"><a href="/shopcart"  class="btn btn-primary">Shopcart</a> </div>
                    <div class="mb-2"><a href="/shopcatalog"  class="btn btn-primary">Shopcatalog</a> </div>
                    <div class="mb-2" > <a href=" /shophome"  class="btn btn-primary">Shophome</a></div>
                    <div class="mb-2" ><a href=" /shopnews"  class="btn btn-primary">Shopnews</a></div>
                    <div class="mb-2"><a href="/shoporder"  class="btn btn-primary">Shoporder</a></div>
                    <div class="mb-2" ><a href=" /shopproduct"  class="btn btn-primary">Shopproduct</a></div>
                    <div class="mb-2" ><a href=" /shopprofile"  class="btn btn-primary">Shopprofile</a></div>
                    <div class="mb-2"><a class="btn btn-primary" href=" /shopreview">Shopreview </a> </div> 
            </div>      
        </div>
       
             
    </body>
    <footer>
      
    </footer>
</main>

    



{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}