<main class="p-5">
    <p><h2>NAV</h2></p>
    <div class="card mb-5"> 
        <div class="nav">
            <div class="nav-item">
                <a href="/task31" class="nav-link">Task31</a>
            </div>
            <div class="nav-item">
                <a href="/task22" class="nav-link disabled">Task22</a>
            </div>
            <div class="nav-item">
                <a href="/card" class="nav-link">Card</a>
            </div>
        </div>
    </div>

  
  <div class="row g-4">
    <div class="col-3 pe-5">
         <div class="card">
            <div class="pt-4 pb-2 px-4">
                <div class="nav flex-column">
                    <div class="nav-item mb-3">
                        <div class="card">
                            <a href="/task31" class="nav-link">NaV Task31</a>
                        </div>
                    </div>
                    
                    <div class="nav-item mb-3">
                        <div class="card">
                            <a href="/task22" class="nav-link disabled">Task22</a>
                        </div>   
                    </div>
                     
                    <div class="nav-item mb-3">
                        <div class="card">
                            <a href="/card" class="nav-link">Card</a>
                        </div>
                    </div>
                </div>
           </div>
       </div>
    </div>
       
{{!-- breadcrumb --}}
    <div class="col-8">  
        <div class="row">
             <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Breadcrumb</a>
                    </li>
                    <li class="breadcrumb-item">
                    <a href="#">Second page</a>
                    </li>
                    <li class="breadcrumb-item">
                    <a href="#">Thirt page</a>
                    </li>
                </ol>
            </div>
            <div class="col-12">
                <h6 class="mt-2 mb-4">Акція badge <span class="badge text-bg-warning rounded-pill text-capitalize">Топ продаж</span></h6>
            </div>
            <div class="alert alert-primary">Важливе інфо alert
                <p> <button class="btn btn-dark mt-4 mb-0">Dark</button></p>
            </div>

            <div class="alert alert-secondary mb-0"> Не важлива інфа alert</div>
    </div>   
</div>
    <br>
    <hr>
    <br>

<div class="row g-4">
    <div class="col-12">      
        <div class="nav nav-tabs">
            
            <div class="nav-item">                      
                <a href="/task31" class="nav-link active">Main</a>                  
            </div>      
            
            <div class="nav-item">             
                <a href="/task22" class="nav-link">Second</a>    
            </div>
        
            <div class="nav-item">        
                <a href="/card" class="nav-link">Tree</a>      
            </div>
        </div>
    </div>
</div>

</main>