<div><em>Guide:</em> {{#with guide}}
                 <div> Name: {{name}}  </div>
                 <div>Language: {{language}}</div>
                 <div> Rating: {{rating}}</div> 
                 {{/with}}</div> 