<p> 
  {{#if performers}}
  <ul> <p> Performers: {{#each performers}}</p>
    <li>
      <div>Name: {{name}}</div>
      <div> Type: {{type}}</div>
    </li>
       
       {{/each}}
  </ul> 
  {{/if}}

</p>