<div class="nav">{{#with navigation}}  

        <div class="nav-item"> {{#each links}} 
        <a class="btn btn-link" href="{{href}}">{{text}}</a>
        {{/each}}    
        </div>    
        <div class="nav-item">
                <a href="#" class="nav-link disabled">Disabled</a>
            </div>
        {{/with}} {{!-- navigation --}}
        </div> 
 </div>  
