 
        <div class="card">
            <img class="card-img-top" src="{{image}}"> 

            <div class="card-body">
                
                <div><h5 class="card-title"> {{title}}</h5>
                {{#if isHot}}<span class="badge text-bg-success"> Hot</span>{{/if}}
                {{#if isNew}}<span class="badge text-bg-danger"> New </span> {{/if}}</div>
                <div><q> {{description}}</q></div>
            </div>
        </div>
             