<div> 
    <div>Title: {{title}}</div>
    <br>
    <div>Text: <q>{{text}}</q></div>
    <br>
    <div> Button text:<ul>  {{#with button_text}}
        <li>
            <div>solid: {{solid}}</div>
            <div>outline: {{outline}}</div>
        </li>
        {{/with}}
        </ul>
    </div>
</div>   